<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneDrive Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <script src="dialog.view.js"></script>
</head>
<body>
    <div class="dialog">
        <h3>Possible OneDrive synchronization error</h3>
        <p>We have noticed a possible Synchronization error within your OneDrive folders. Please take action to prevent possible data loss</p>
        <img class="error-icon" src="../../assets/error.png" width="100" alt="">
    </div>
    <div class="button-group">
        
        <button id="show" class="btn-blue">Show Errors</button>
        <button id="close">Close</button>
    </div>
</body>
</html>